@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron no-background">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/allsports.jpg" width="90%" />
        </div>
        <div class="col-md-6">
            <h1 class="text-center"><strong class="text-info">Sports World</strong></h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <p>Registrate your company and earn fast incomes. You can easy maintain all of your fields and get interesting reports!</p>
            <h3 class="text-center"><a href="~/Account/RegisterCompany" class="btn btn-primary btn-lg">Become a company partner now</a></h3>
        </div>
        <div class="col-md-6">
            <p>If you wanna practice your sport get an account. Find fast and easy your perfect field and reserve it!</p>
            <h3 class="text-center"><a href="~/Account/Register" class="btn btn-primary btn-lg">Join us as a regular client</a></h3>
        </div>
    </div>
</div>