@model SportsWorld.Web.Models.RegisterViewModel

<h3 class="text-center alert alert-dismissable alert-success">Client registraion</h3>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.Partial("_RegisterAccountPartial", Model)
    <br />
    <div class="row">
        <div class="col-md-12">
            <input type="submit" class="btn btn-success btn-block btn-lg" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
