body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.register-thumbnail:hover {
    text-decoration: none;
}

    .register-thumbnail:hover .register-thumbnail-text {
        color: yellow;
    }

    .register-thumbnail:hover > div.thumbnail {
        background-color: deepskyblue;
    }

.register-thumbnail-text {
    color: white;
}

.ui-menu .ui-menu-item a,
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
    text-align: left;
    font-size: 14px;
}

.ui-autocomplete-loading {
    background: white url(../../../../Images/loader.gif) right center no-repeat;
}

.restricted-max-width {
    max-width: 100%;
}

.ratio {
	position: relative;
	width: 100%;
	height: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
